doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class="container")
			div(class="row")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					h1 IoT CNS
			div(class="row")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					p Welcome to the fold
		
			div(class="row")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					h2 Limbs
					table(class="table")
						tr
							th Name
							th Queued Messages
							th Last Seen
							th Actions
			
						for limb in messages
							tr
								td= limb.name
								td= limb.queue
								td
									time(class="timeago",datetime=limb.last_seen)= limb.last_seen
								td
									a(href="#",class="btn btn-primary btn-sm action-delete",action="/limbs/"+limb.name+"/queue/clear",title="Clear Queue")
										span(class="glyphicon glyphicon-trash")
									a(href="#",class="btn btn-primary btn-sm action-delete",action="/limbs/"+limb.name+"/delete",title="Delete")
										span(class="glyphicon glyphicon-remove")
										
							if limb.status
								tr
									td(colspan="42")
										table(class="table")
											each val, index in limb.status
												tr
													td= index
													td= val

		script(type="text/javascript",src="/vendor/jquery/dist/jquery.js")
		script(type="text/javascript",src="/vendor/bootstrap/dist/js/bootstrap.js")
		script(type="text/javascript",src="/vendor/jquery-timeago/jquery.timeago.js")
		script(type="text/javascript",src="/javascripts/site.js")